* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    display: flex;
}

.navigator {
    width: 20%;
    background: #dd0285;
    position: fixed;
    top: 0;
    z-index: 11;
}

.navbar {
    margin: auto;
    height: 100vh;
}

.logo {
    border-radius: 10px;
    overflow: hidden;
}

.logo>img {
    width: 85%;
    display: block;
    margin: auto;
    max-height: 80px;
}

.links {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    
}

.links>a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 50px;
}

.links>a:hover {
    background-color: white;
    color: black;
}

.links>a:active {
    background-color: black;
    color: white;
}

.admin {
    font-family: sans-serif;
    padding-left: 30%;
    font-size: 2.5rem;
    width: 100%;
}


.myform {
    width: 80%;
    margin-left: 20%;
}


table{
    width: 98%;
    height: auto;
    text-align: center;
}

th{
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(172, 218, 246);
    height: 50px;
   
}

.subcontainer{
    background-color: rgb(239, 247, 252);
}
.category, .title, .price{
    font-size: 20px;
}
.firstrow{
    width: 20%;
    font-family: sans-serif;
    font-size: 20px;
}

.imgdiv{
    width: 80%;
    height: 110px;
}

