body {
  margin: 0;
  padding: 0;
}

#head {
  width: 100%;
  height: 90px;
  /* border: 2px solid red;    */
  display: flex;
}

.icon-container {
  width: 25%;
  height: auto;
  /* border: 2px solid blue; */
}

.icon-container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.filter-search-container {
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
}

.mid-box {
  width: 80%;
  height: 40%;
  align-items: center;
  align-content: center;
  display: flex;
  margin: auto;
  margin-top: 28px;
  border: 1px solid rgb(210, 217, 210);
}

.filter-box {
  width: 100%;
  height: 100%;
  /* border: 3px solid red; */
}

.filter-box>select {
  width: 95%;
  height: 100%;
  border: none;
  cursor: pointer;
}
select{
  outline: none;
}

.search-box {
  width: 130%;
  height: 100%;
  /* border: 3px solid red; */
}



input[type=text] {
  width: 85%;
  height: 100%;
  color: black;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: open helvetica, Arial, sans-serif;
  padding: 8px;
  display: inline-block;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin: 3px;
  /* background-color:#333; */

}

::placeholder {
  color: rgb(143, 137, 137);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: open helvetica, Arial, sans-serif;
}

.search-icon {
  text-align: center;
  width: 22%;
  height: 108%;
  cursor: pointer;
  background-color: #dd0285;
}

.search-icon i {
  margin: 9px;
  color: white;

}


.fav-account-container {
  width: 20%;
  height: 40%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  margin: auto;
}

.account-box {
  
  text-align: center;
  display: flex;
  gap: 10px;
}

.heart-icon {
  width: 40px;
  height: 100%;
  margin: auto;
  border: 1px solid black;
  cursor: pointer;
}

.heart-icon:hover {
  color: white;
  background-color: #dd0285;
}

.heart-icon i,
.account-icon i {
  margin-top: 10px;
}


.account-icon {
  width: 40px;
  height: 100%;
  border: 1px solid rgb(211, 205, 205);
  cursor: pointer;

}

.account-icon:hover {
  background-color: #dd0285;
  color: white;

}

.myaccount {
  text-align: center;
  height: auto;
  margin: auto;
  margin-left: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  /* border: 1px solid black; */
}

.login-box{

  top: 65px;
  display: none;
  position: absolute;
  z-index: 2;
}

.account-icon:hover .login-box{
  width: 150px;
  height: 90px;
  display: block;
  float: left;
  background-color: white;
}

.login-box h6{
  color: black;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  
  line-height: 0px;
}
.login-box h6:hover{
  color: #dd0285;
  text-decoration: none;
}

.login-box a{
  text-decoration: none;
}


/***************************** Navigation **********************************/
.navigation {
  position: sticky;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 1; 
  background-color: #dd0285;
}

.Dropdown-navigation {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 95%;
  margin: auto;
  height: 100%;
  background-color: #dd0285;
  display: flex;
}


nav {
  width: 70%;
  margin-left: 20px;
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 96%;
  opacity: 1;
  float: left;
  /* border: 2px solid red; */
}

nav .dropdown button {
  width: max-content;
  padding: 15px 10px;
  text-align: center;
  font-weight: 700;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

nav .dropdown button span {
  font-size: 1.25rem;
  display: none;
}

nav .dropdown button:hover {
  cursor: pointer;
  background-color: #cd097f;
}


.content {
  display: none;
  position: absolute;
  left: 0;
  width: 95vw;
  margin-top: 5px;
  padding-top: 0px;
  /* background: rgb(245, 240, 240); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-top: 15px transparent solid;
  /* border: 4px solid red; */
  background-color: #f9f9f9;

}

.dropdown:hover .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}



.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
  margin-top: -40px;

}

h2 {
  background: rgba(220, 220, 220, .75);
  color: #333;
  text-align: center;
  width: 100%;
  padding: 25px 0;
  margin-top: -35px;
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: sans-serif;
}

.row :not(last-child) {
  margin-right: 35px;
}

.column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.column img {
  margin-top: 20px;
}

.column a {
  color: black;
  text-decoration: none;
  font-size: .9rem;
  font-family: sans-serif;
}

.column a:not(last-child) {
  margin-bottom: 10px;
}

.column a:hover {
  color: #cd097f;
  text-decoration: none;
}

.seeAll {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.seeAll a {
  color: black;
  text-decoration: none;
  font-size: 1.15rem;
}

.seeAll a i {
  color: #cd097f;
  font-size: .9rem;
}

.seeAll a:hover {
  color: #cd097f;
}

.hamburger {
  width: 35px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger .bar {
  width: 100%;
  height: 7px;
  background: #333;
  border-radius: 5px;
  
  
}



@media (max-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-between;
  }


  .hamburger {
    display: flex;
    margin-top: 10px;
  }

  

  nav {
    width: 50%;
    flex-direction: column;
    height: 100%;
    padding: unset;
    margin: unset;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
    
  }

  nav .dropdown,
  .seeAll {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  nav .dropdown button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
  }

  nav .dropdown button span {
    display: inline;
  }

  nav .dropdown button:hover {
    color: black;
    text-decoration: none;
    border-bottom-color: #eee;
    cursor: unset;
  }

  nav .dropdown:hover .content {
    display: none;
  }

  .content {
    display: none;
    position: unset;
    width: 100%;
    padding: unset;
    flex-direction: column;
  }

  .content h2 {
    display: none;
  }

  .row {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .column {
    padding: 0 20px;
    margin: 0 0 10px 0;
  }

  #perfume{
    height: 450px;
  }
  .seeAll {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  nav {
    width: 100%;
  }
}

/* Animation for hamburger menu */
.animInfo {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  /* animation-timing-fucntion: ease; */
}

@keyframes bar1Anim {
  0% {
    transform: rotate(0deg) translate(0px);
  }

  100% {
    transform: rotate(45deg) translate(6px, 10px);
  }
}

@keyframes bar2Anim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bar3Anim {
  0% {
    transform: rotate(0deg) translate(0px);
  }

  100% {
    transform: rotate(-45deg) translate(6px, -10px);
  }
}

@keyframes bar1AnimReverse {
  0% {
    transform: rotate(45deg) translate(6px, 10px);
  }

  100% {
    transform: rotate(0deg) translate(0px);
  }
}

@keyframes bar2AnimReverse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bar3AnimReverse {
  0% {
    transform: rotate(-45deg) translate(6px, -10px);
  }

  100% {
    transform: rotate(0deg) translate(0px);
  }
}

/* Animation for navigation appearing */
@keyframes navAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes navAnimReverse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 400px) {
  nav {
    opacity: 1 !important;
  }


}

/* cart-container */

.cart-container {
  width: 25%;
  height: auto;
  /* border: 3px solid red; */
  margin-left: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  z-index: 0;
}

h5 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}

.cart-container i {
  font-size: 18px;
  cursor: pointer;
}






/* Hot deals  */





.slider-container {
  width: 95%;
  height: auto;
  margin: auto;
  /* border: 3px solid red; */
}

.hot-deals {
  width: 120px;
  height: auto;
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  /* border: 4px solid red; */
  margin-top: 10px;
  border-bottom: 2px solid #cd097f;
}

.container {
  width: 100%;
  height: 500px;
  margin-top: 0px;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  /* border: 5px solid red; */
  
}

ul {
  width: 9999%;
  height: 100%;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.75s ease;
  display: flex;
}

li {
  width: 26.66vw;
  height: 100%;
  float: left;
}

.box{
  text-align: center;
  border: 1px solid #ddd;
}

.box>button{
  padding: 10px 20px;
  background-color: #dd0285;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.title{
  font-family: sans-serif;
}





#prev,
#next {
  position: absolute;
  top: 50%;
  color: #aaa;
  text-decoration: none;
  font-size: 2rem;
  padding: 5px 3px;
  background: white;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.15s ease;
  border: 1px solid #ddd;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
  color: #888;
}


/* customazie makeup  *****************/

.customize-makeup {
  width: 95%;
  height: auto;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  margin: auto;
}

.all-icon {
  width: auto;
  height: 18%;
  display: flex;
  justify-content: center;
  border: 1px solid #ebebeb;
}

.all-image {
  width: 190px;
  height: auto;
  text-align: center;
  border-right: 1px solid #ebebeb;
  cursor: pointer;
  /* border-top: 1px solid #666; */
}

.all-image img {
  margin-top: 20px;

}





.product img{
  width: 90%;
  height: 60%;
 }


.product-item {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  border: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-item .product {
  width: 100%;
  height: auto;
  
  border: 1px solid #ebebeb;
  
}

.product .detail{
  color: #1366e1;
  font-size: 16px;
  height: 3.6em;
  line-height: 1.5em;
  font-weight: 500;
  margin-top: 0px;
  font-family: Roboto,"system-ui",sans-serif;


}
.deal span, .deal i{
  color: #003380;
  
}
.product .deal, .mrp, .save{
  font-family: Roboto,"system-ui",sans-serif;
  line-height: 1.4em;
  font-weight: 500;
    color: #000;
    font-size: 15px;
}
.ofr{
    /* margin-top: 10px; */
    font-family: Roboto,"system-ui",sans-serif;
    padding: 1px 6px;
    font-size: 10px;
    color:rgb(49, 129, 46);
    border: 1px solid rgb(49, 129, 46);
    background-color:  rgb(236, 251, 236);
    border-radius: 30px;
}
.cart{
  padding: 9px 16px;
  border: none;
  margin-left: 25px;
  color:white;
  background-color: #dd0285;
  border-radius: 3px;
  cursor: pointer;
  
}
.cart:hover{
  background-color: #b0066c;
}




.showcase {
  width: 95%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border: 2px solid red;
}

.h4 {
  width: 160px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #cd097f;
}

.best-seller-product{
  width: 100%;
  height: 30%;
  border: 2px solid red;
  display: flex;
}

.img-div{
  width: 50%;
  height: 100%;
  /* border: 2px solid green; */
}
.img-div img{
  width: 100%;
  height: 100%;
}

.detail-div{
  width: 40%;
  height: 100%;

}

.best-seller,
.latest-product,
.most-viewed {
  border: 3px solid green;
}



.welcome {
  width: 95%;
  height: 40%;
  margin: auto;
}

.welcome>h1 {
  font-size: 183.3%;
  font-weight: 400;
}

.welcome>p {
  font-style: normal;
  font-weight: 400;
  font-family: sans-serif;
}

/********************** footer  **********************/

footer {
  width: 100%;
  height: 100%;
  background-color: #333;
}

.footer-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 2px solid orange; */
}

.footer-content h3 {
  width: 130px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
  letter-spacing: .5px;
  text-transform: uppercase;

  border-bottom: 2px solid #dd0285;
  border-bottom-style: dashed;
}


.contact p,
.links p,
.info p,
.categories p {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
  letter-spacing: .5px;
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 20px;

}

.contact p:hover,
.links p:hover,
.info p:hover,
.categories p:hover {
  cursor: pointer;
  color: #cd097f;
}

.social-media {
  width: auto;
  height: 50px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.fb,
.insta {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #cd097f;

}

.fb i,
.insta i {
  margin-top: 10px;
  margin-left: 13px;
}

.vertical {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

.bottom-footer {
  width: 90%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  /* border: 3px solid red; */
}

.card {
  width: 50%;
  height: 100%;
  cursor: pointer;
  /* border: 2px solid green; */
}

.newslater {
  width: 60%;
  height: 50%;
  display: flex;
  /* border: 2px solid green; */
}

.signup {
  width: 30%;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

input[type=text] {
  width: 100%;
  height: 100%;
  border-radius: 4px 0px 0px 4px;
}

.signupbox {
  width: 50%;
  height: auto;
  /* border: 3px solid red; */
}

.subscribe {
  width: 18%;
  height: 102%;
  background-color: #cd097f;
  margin-top: 2px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.subscribe>h3 {
  color: white;
  text-align: center;
}

@media only screen and (min-width: 401px) and (max-width: 1200px) {

  .filter-box,
  span {
    display: none;
    /* border: 3px solid red; */
  }
  .myaccount{
    display: none;
  }

 
  .account-icon:hover .login-box{
    width: 95px;
    height: 90px;
    display: block;
    float: left;
    margin-left: -30px;
    background-color: white;
  }
  .container {
    width: auto;
    border: 4px solid black;

  }

  .cart-container{
    width: 100px;
    margin-left: auto;
    /* border: 4px solid green; */
  }

  .product-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase{
   
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  footer{
    height: 750px;
  }
  .footer-content {
    width: 90%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom-footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
  }
  .card{
    width: 90%;
  }
  .signup{
    display: none;
  }
  .subscribe h3{
    margin-top: 15px;
    font-size: 8px;
  }


}

@media only screen and (min-width: 101px) and (max-width: 400px) {
  #head {
    width: 100%;
    height: 90px;
    /* border: 2px solid red; */
    display: flex;
    cursor: pointer;
  }
  .hamburger{
    cursor: pointer;
  }
  .mid-box{
    margin-top: 30px;
    cursor: pointer;
  }
.myaccount{
  display: none;
}

  .filter-box,
  span {
    display: none;
    
  }
 
  .cart-container{
    width: 100px;
    margin-left: 200px;
    cursor: pointer;
  }

  .container {
    width: auto;
    /* border: 4px solid black; */
  }


.all-icon{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
  .product-item {
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .showcase{
   
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  footer{
    height: 750px;
  }
  
  .footer-content {
    width: 90%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  .bottom-footer{
    height: 70px;
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
  }
.card img{
  width: 100%;
}
  .signup{
    display: none;
  }
  
  .subscribe h3{
    margin-top: 15px;
    font-size: 6px;
  }


}