body {
    margin: 0;
    padding: 0;
}

#head {
    width: 100%;
    height: 90px;
    border: 2px solid red;
    display: flex;
}

.icon-container {
    width: 25%;
    height: auto;
    border: 2px solid blue;
}

.icon-container img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.filter-search-container {
    width: 50%;
    height: 100%;
    border: 2px solid red;
}

.mid-box {
    width: 80%;
    height: 40%;
    align-items: center;
    align-content: center;
    display: flex;
    margin: auto;
    margin-top: 22px;
    border: 1px solid rgb(210, 217, 210);
}

.filter-box {
    width: 100%;
    height: 100%;
    /* border: 3px solid red; */
}

.filter-box>select {
    width: 95%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.search-box {
    width: 130%;
    height: 100%;
    /* border: 3px solid red; */
}

/* .searchbar>.search-input{
  background-color: black;
  border: 1px solid white;
} */

input[type=text] {
    width: 85%;
    height: 100%;
    color: black;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica, Arial, sans-serif;
    padding: 8px;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 3px;
    /* background-color:#333; */

}

::placeholder {
    color: rgb(143, 137, 137);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica, Arial, sans-serif;
}

.search-icon {
    text-align: center;
    width: 22%;
    height: 100%;
    background-color: #dd0285;
}

.search-icon i {
    margin: 9px;
    color: white;
    cursor: pointer;
}







.fav-account-container {
    width: 20%;
    height: 40%;
    /* border: 2px solid green; */
    margin: auto;
}

.account-box {
    text-align: center;
    display: flex;
}

.heart-icon {
    width: 40px;
    height: 40px;
    margin: auto;
    border: 1px solid black;
    cursor: pointer;
}

.heart-icon:hover {
    color: white;
    background-color: #dd0285;
}

.heart-icon i,
.account-icon i {
    margin-top: 10px;
}


.account-icon {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(211, 205, 205);
    cursor: pointer;
}

.account-icon:hover {
    background-color: #dd0285;
    color: white;
}

.myaccount {
    text-align: center;
    height: auto;
    margin: auto;
    margin-left: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    /* border: 1px solid black; */
}

/* Navigation */

#Dropdown-navigation {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #dd0285;
}

/* Hot deals  */

.slider-container{
    width: 100%;
    height: 5450px;
    border: 3px solid red;
}

.container {
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px solid #ddd;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border: 5px solid red;
  }
  
  ul {
    width: 9999%;
    height: 100%;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.75s ease;
  }
  
  li {
    width: 26.66vw;
    height: 100%;
    float: left;
  }
  
  li:nth-child(1) {
    background: #1abc9c;
  }
  
  li:nth-child(2) {
    background: #e74c3c;
  }
  
  li:nth-child(3) {
    background: #27ae60;
  }
  
  li:nth-child(4) {
    background: #e67e22;
  }
  
  li:nth-child(5) {
    background: #8e44ad;
  }
  
  li:nth-child(6) {
    background: #22a6b3;
  }
  
  li:nth-child(7) {
    background: #30336b;
  }
  
  li:nth-child(8) {
    background: pink;
  }
  
  li:nth-child(9) {
    background: #eb4d4b;
  }
  
  #prev,
  #next {
    position: absolute;
    top: 50%;
    color: #aaa;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px 3px;
    background: white;
    text-align: center;
    transform: translateY(-50%);
    transition: all 0.15s ease;
    border: 1px solid #ddd;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  #next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  #prev:hover,
  #next:hover {
    color: #888;
  }
  


@media only screen and (min-width: 401px) and (max-width: 1000px) {
    .filter-box {
        display: none;
        /* border: 3px solid red; */
    }
}